<h1>You can start the processing by pressing the button!</h1>
<button mat-raised-button class="actionBtn" (click)="triggerSnapshot()">Start/stop analyze</button>
<div class="snapshot" *ngIf="webcamImage">
  <h1>
    <div *ngIf="isWeaponDetected">
      Warning! Weapon detected!
      <img [src]="webcamImage.imageAsDataUrl" height="200px">
    </div>
  </h1>
  <div *ngIf="!isWeaponDetected">No weapon detected</div>
</div>
<webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>