<h1>Töltsd fel a képet, amit elemezni szeretnél!</h1>

<div class="form-group">
  <label for="file">Choose File</label>
  <input type="file" id="file" (change)="handleFileInput($event.target.files)">
</div>

<div *ngIf="message">{{message}}</div>
<webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
<button mat-raised-button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>

<div class="snapshot" *ngIf="webcamImage">
  <h2>Nice one!</h2>
  <img [src]="webcamImage.imageAsDataUrl" />
</div>